---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import {
  Table,
  TableRow,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
} from "../../components/table";
import { getCollection } from "astro:content";

const rawArticles = await getCollection("articles");

const articles = rawArticles
  .sort((a, b) => a.id.localeCompare(b.id))
  .slice(0, 3)
  .map((doc) => {
    const id = doc.id.replace(/\d{2}-/, "").replace(".mdoc", "");

    return {
      title: doc.data.title,
      created: new Date(doc.data.created).toLocaleDateString(),
      id,
    };
  });
---

<Layout
  title="Articles"
  description="A collection of articles I've written over the years."
>
  <h1 class="text-2xl font-bold mb-2 dark:text-gray-100">Articles</h1>
  <p class="text-zinc-700 dark:text-zinc-300 mb-8">
    A collection of articles I've written over the years.
  </p>

  <Table>
    <TableHead>
      <TableRow>
        {
          ["Date", "Name"].map((header) => (
            <TableHeader scope="col">{header}</TableHeader>
          ))
        }
      </TableRow>
    </TableHead>
    <TableBody>
      {
        articles.map(({ created, title, id }) => (
          <TableRow>
            <TableCell class="flex-col  w-24" href={`/articles/${id}`}>
              {created}
            </TableCell>
            <TableCell
              class="whitespace-pre-line font-semibold"
              href={`/articles/${id}`}
            >
              {title}
            </TableCell>
          </TableRow>
        ))
      }
    </TableBody>
  </Table>
</Layout>
