---
import Layout from "../layouts/Layout.astro";
import ProfilePicture from "../assets/Alfie_jones_new.jpg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import {
  Table,
  TableRow,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
} from "../components/table";
---

<Layout
  title="Home"
  description="I’m a software engineer and serial builder. I've been coding for over 10 years and have worked on a variety of projects, from small websites to large-scale applications."
>
  <h1 class="mb-4 text-2xl font-bold dark:text-gray-100">Home</h1>

  <div class="prose dark:prose-invert prose-zinc max-w-none">
    <Image
      class="not-prose float-right ml-4 size-42 rounded-2xl"
      src={ProfilePicture}
      alt="Alfie Jones's profile picture"
    />

    <p>
      I’m a software engineer and serial builder. I've been coding for over 10
      years and have worked on a variety of projects, from small websites to
      large-scale applications.
    </p>

    <p>
      I hold a Master's in Computer Science and Mathematics from the University
      of Bath (UK). For my undergraduate dissertation, I developed a
      Bluetooth-based tracking system. My Master's research focused on using
      network mocking to ensure consistent visual testing with dynamic data.
    </p>
  </div>

  <h2 class="mt-12 mb-4 text-xl font-semibold dark:text-gray-100">Links</h2>

  <Table>
    <TableHead>
      <TableRow>
        {
          ["Logo", "Name", "Link"].map((header) => (
            <TableHeader scope="col">{header}</TableHeader>
          ))
        }
      </TableRow>
    </TableHead>
    <TableBody>
      {
        [
          {
            logo: "ph:github-logo",
            name: "Github",
            link: "https://github.com/alfiejones",
            mobileLinkText: "alfiejones",
          },
          {
            logo: "hugeicons:bluesky",
            name: "BlueSky",
            link: "https://bsky.app/profile/alfie-jones.bsky.social",
            mobileLinkText: "alfie-jones.bsky.social",
          },
          {
            logo: "ph:twitter-logo",
            name: "Twitter",
            link: "https://x.com/_AlfredoJones",
            mobileLinkText: "_AlfredoJones",
          },
          {
            logo: "ph:linkedin-logo",
            name: "LinkedIn",
            link: "https://linkedin.com/in/armj",
            mobileLinkText: "armj",
          },
        ].map(({ logo, name, link, mobileLinkText }) => (
          <TableRow>
            <TableCell class="" href={link}>
              <Icon name={logo} class="size-6" />
            </TableCell>
            <TableCell class="" href={link}>
              {name}
            </TableCell>
            <TableCell class="" href={link}>
              <span class="hidden sm:block">{link}</span>
              <span class="sm:hidden">{mobileLinkText}</span>
            </TableCell>
          </TableRow>
        ))
      }
    </TableBody>
  </Table>
</Layout>
