---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import ProfilePicture from "../assets/Alfie_jones_new.jpg";
import { Image } from "astro:assets";
import Newsletter from "../components/Newsletter.astro";
import Resume from "../components/Resume.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

const rawArticles = await getCollection("articles");

const articles = rawArticles
  .sort((a, b) => a.id.localeCompare(b.id))
  .slice(0, 3)
  .map((doc) => {
    const id = doc.id.replace(/\d{2}-/, "").replace(".mdoc", "");

    return {
      title: doc.data.title,
      description: doc.data.description,
      created: new Date(doc.data.created).toLocaleDateString(),
      id,
    };
  });
---

<Layout>
  <Container class="mt-12">
    <div class="flex">
      <div class="max-w-2xl">
        <h2
          class="text-4xl font-bold mb-8 tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
        >
          Software Engineer & Serial Builder
        </h2>
        <p class="text-base mt-6 text-zinc-600 dark:text-zinc-400">
          Hi, I'm Alfie – a software engineer with over 10 years of coding
          experience. I've developed awesome open-source tools like PandaCI (a
          TypeScript-based CI/CD platform), Pixeleye (a visual regression
          testing tool), and Toggles.dev (a collection of dark theme ).
        </p>
        <div class="mt-6 flex gap-6">
          <!-- <SocialLink href="#" aria-label="Follow on X" icon={XIcon} /> -->
          <!-- <SocialLink -->
          <!--   href="#" -->
          <!--   aria-label="Follow on Instagram" -->
          <!--   icon={InstagramIcon} -->
          <!-- /> -->
          <!-- <SocialLink -->
          <!--   href="#" -->
          <!--   aria-label="Follow on GitHub" -->
          <!--   icon={GitHubIcon} -->
          <!-- /> -->
          <!-- <SocialLink -->
          <!--   href="#" -->
          <!--   aria-label="Follow on LinkedIn" -->
          <!--   icon={LinkedInIcon} -->
          <!-- /> -->
        </div>
      </div>

      <Image
        class="rounded-4xl size-64 mx-auto rotate-4"
        src={ProfilePicture}
        alt="Alfie Jones's profile picture"
      />
    </div>
  </Container>

  <Container class="mt-24 md:mt-28">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col gap-16">
        {
          articles.map((article) => (
            <div class="group relative flex flex-col items-start md:col-span-3">
              <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">
                <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50" />
                <a href={`/articles/${article.id}`}>
                  <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl" />
                  <span class="relative z-10">{article.title}</span>
                </a>
              </h2>

              <time
                class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
                date-time={article.created}
              >
                <span
                  class="absolute inset-y-0 left-0 flex items-center"
                  aria-hidden="true"
                >
                  <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500" />
                </span>
                {article.created}
              </time>
              <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                {article.description}
              </p>
              <div
                aria-hidden="true"
                class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500"
              >
                <span>Read article</span>
                <Icon
                  name="ph:caret-right"
                  class="ml-1 h-4 w-4 stroke-current"
                />
              </div>
            </div>
          ))
        }
        <!-- {articles.map((article) => ( -->
        <!--   <Article key={article.slug} article={article} /> -->
        <!-- ))} -->
      </div>
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <Newsletter />
        <!-- <Resume /> -->
      </div>
    </div>
  </Container>
</Layout>
