---
import Layout from "../layouts/Layout.astro";
import ProfilePicture from "../assets/Alfie_jones_new.jpg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import PCVolumeMixerLogo from "../assets/pc-volume-mixer.png";
import PixeleyeLogo from "../assets/pixeleye-logo.svg";
import ThemeTogglesLogo from "../assets/toggles-logo.svg";
import PandaCILogo from "../assets/pandaci-logo.png";
import {
  Table,
  TableRow,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
} from "../components/table";

const projects = [
  {
    name: "PandaCI",
    description: "Platform to code your CI/CD in TypeScript.",
    link: { href: "https://pandaci.com", label: "pandaci.com" },
    logo: PandaCILogo,
  },
  {
    name: "Pixeleye",
    description:
      "Visual regression testing platform with multiple integrations.",
    link: { href: "https://pixeleye.io/home", label: "pixeleye.io" },
    logo: PixeleyeLogo,
  },
  {
    name: "Theme toggles",
    description: "A collection of easy to use animated dark/light toggles.",
    link: { href: "https://toggles.dev", label: "toggles.dev" },
    logo: ThemeTogglesLogo,
  },
  {
    name: "PC Volume mixer",
    description: "Android remote for the Windows volume mixer.",
    link: { href: "https://firstbyte.app", label: "firstbyte.app" },
    logo: PCVolumeMixerLogo,
  },
  {
    name: "API typify",
    description: "Framework for building type-safe APIs in TypeScript.",
    link: {
      href: "https://github.com/alfiejones/api-typify",
      label: "github.com",
    },
    logo: "ph:brackets-curly",
  },
];
---

<Layout
  title="Projects"
  description="Just a few of the things I've made. Most are open source, so feel free to check them out!"
>
  <h1 class="mb-2 text-2xl font-bold dark:text-gray-100">Projects</h1>
  <p class="mb-8 text-zinc-700 dark:text-zinc-300">
    Just a few of the things I've made. Most are open source, so feel free to
    check them out!
  </p>

  <Table>
    <TableHead>
      <TableRow>
        {
          ["Logo", "Name", "Description"].map((header) => (
            <TableHeader scope="col">{header}</TableHeader>
          ))
        }
      </TableRow>
    </TableHead>
    <TableBody>
      {
        projects.map(
          ({ link: { href: link, label }, logo, description, name }) => (
            <TableRow>
              <TableCell class="" href={link}>
                {logo && typeof logo === "string" && (
                  <Icon
                    class="size-8 p-1 text-zinc-900 dark:text-white"
                    name={logo}
                  />
                )}
                {logo && typeof logo !== "string" && (
                  <Image class="size-8" src={logo} alt={`${name} logo`} />
                )}
              </TableCell>
              <TableCell
                class="max-w-24 flex-col text-sm font-semibold whitespace-pre-line sm:max-w-none sm:text-base"
                href={link}
              >
                {name}
                <br />
                <span class="text-xs font-normal">{label}</span>
              </TableCell>
              <TableCell class="whitespace-pre-line" href={link}>
                {description}
              </TableCell>
            </TableRow>
          ),
        )
      }
    </TableBody>
  </Table>
</Layout>
